@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fraunces", sans-serif !important;
  display: grid;
  place-items: center;
  min-height: 100vh;
  line-height: 1.5;
}

p {
  font-family: "Barlow", sans-serif;
}

img {
  max-width: 100%;
}

article {
  color: hsl(212, 27%, 19%);
}
article > p {
  width: 75%;
}
article > a {
  position: relative;
}

header {
  position: relative;
}
header nav {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  background-color: hsl(0, 0%, 100%);
}
header nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-size: 1.2rem;
}
header nav ul li a:hover {
  color: inherit;
}

.contact {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", sans-serif;
}

.contact_list {
  background-color: hsl(51, 100%, 49%);
  padding: 1em;
  padding-inline: 2em;
}

.triangle {
  position: absolute;
  top: -25px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 25px solid #fff;
}

.show {
  opacity: 1;
  visibility: visible;
}

main {
  position: relative;
}

.headline_section {
  background: url("./images/mobile/image-header.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 450px;
}
.headline_section h2 {
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 5px;
  width: 300px;
}

.arrow_down {
  margin-block-start: -3em;
}

.egg_decoration {
  background: url("./images/mobile/image-transform.jpg");
  height: 380px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.your_brand p {
  color: hsl(210, 4%, 67%);
}
.your_brand a {
  letter-spacing: 2px;
  color: hsl(212, 27%, 19%);
}
.your_brand a::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  height: 0;
  width: 150px;
  border: 5px solid hsla(51, 100%, 49%, 0.4);
  border-radius: 4px;
  z-index: -1;
}
.your_brand a:hover {
  color: inherit;
}

.stand_out_deco {
  background: url("./images/mobile/image-stand-out.jpg");
  height: 380px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.stand_out p {
  color: hsl(210, 4%, 67%);
}
.stand_out a {
  letter-spacing: 2px;
  color: hsl(212, 27%, 19%);
}
.stand_out a::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  height: 0;
  width: 150px;
  border: 5px solid pink;
  border-radius: 4px;
  z-index: -1;
}
.stand_out a:hover {
  color: inherit;
}

.graphic_design {
  background: url("images/mobile/image-graphic-design.jpg");
  background-size: 100% 100%;
  height: 600px;
  color: hsl(167, 40%, 24%);
}

.photography {
  background: url("images/mobile/image-photography.jpg");
  background-size: 100% 100%;
  height: 600px;
  color: hsl(198, 62%, 26%);
}

.client_testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 248, 249, 0.464);
}
.client_testimonials h2 {
  letter-spacing: 2px;
  font-size: 1rem;
  color: hsl(210, 4%, 67%);
}
.client_testimonials > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin-block-start: 2em;
}
.client_testimonials > div img {
  width: 60px;
}
.client_testimonials > div p {
  width: 75%;
  color: hsl(213, 9%, 39%);
}
.client_testimonials > div b {
  color: hsl(212, 27%, 19%);
}
.client_testimonials > div small {
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
}

.designs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
}

.designs > div {
  background-size: 100% 100%;
  background-position-x: center;
  background-repeat: no-repeat;
}

.milkbottles {
  background-image: url("images/mobile/image-gallery-milkbottles.jpg");
}

.orange {
  background-image: url("images/mobile/image-gallery-orange.jpg");
}

.cone {
  background-image: url("images/mobile/image-gallery-cone.jpg");
}

.sugar_cubes {
  background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
}

footer {
  background-color: hsl(168, 53%, 74%);
}
footer b {
  font-size: 2rem;
  color: hsl(167, 40%, 24%);
}

.footer_links a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
}
.footer_links a:hover {
  color: hsl(167, 40%, 24%);
}

.social_links {
  margin-block-start: 5em;
}
.social_links a {
  filter: contrast(1.75);
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "your-brand egg" "cup audience" "graphic-design photography" "testimonial testimonial" "designs designs" "footer footer";
    grid-auto-rows: auto;
  }
  .hamburger_icon {
    display: none;
  }
  header nav {
    visibility: visible;
    opacity: 1;
    background-color: transparent;
  }
  header nav ul {
    flex-direction: row;
    position: absolute;
    right: 0;
    top: -6.2em;
    gap: 2em;
  }
  header nav ul li a {
    color: hsl(0, 0%, 100%);
  }
  .contact_list {
    padding: 0.7em;
    padding-inline: 1.3em;
    background-color: hsl(0, 0%, 100%) !important;
  }
  .contact_list:hover {
    background-color: rgba(117, 207, 255, 0.932) !important;
    cursor: pointer;
    color: hsl(0, 0%, 100%) !important;
  }
  .contact_list:hover a {
    color: hsl(0, 0%, 100%) !important;
  }
  .triangle {
    display: none;
  }
  .headline_section {
    background: url("./images/desktop/image-header.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    grid-area: header;
  }
  .headline_section h2 {
    width: 75%;
    margin-top: none;
  }
  .arrow_down {
    height: 90px;
    padding-top: 20px;
  }
  .egg_decoration {
    grid-area: egg;
  }
  .your_brand {
    grid-area: your-brand;
  }
  .client_testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "heading heading heading" "items items items";
    grid-area: testimonial;
  }
  .client_testimonials h2 {
    grid-area: heading;
  }
  .designs {
    grid-template-columns: repeat(4, 1fr);
    grid-area: designs;
  }
}


/*# sourceMappingURL=style.css.map */
